.App {
  text-align: center;
}

.skateIconContainer {
  border: 0px;
  padding: 0px;
  transition: 0.4s all ease;
}

.skateIconContainer:focus {
  border: 1px solid white;
  padding: 2px;
}

.skateIconContainer img {
  width: 20px;
  height: 20px;
}